<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 1
  
  </ion-card-header>
  
  <ion-card-content>
    No CSS 3, o uso da propriedade box-shadow e da função linear-gradient possibilita a criação de formas, cores e efeitos das páginas diretamente no código, de modo que os resultados aparecem diretamente nos navegadores.
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label> A – Certo.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label> B – Errado.</ion-label>
  
  </ion-item>
  
  </ion-list>

  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/css2">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>

  
