<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 1
  
  </ion-card-header>
  
  <ion-card-content>
    No que se refere à sobrecarga de operadores em C#, analise os itens a seguir e, ao final, assinale a alternativa correta:
    I – Os operadores são declarados estáticos.
    II – A precedência e a associatividade dos operadores sobrecarregados são redefinidas pelo programador.
    III – Os operadores são declarados públicos.

  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label> A – Apenas o item I é verdadeiro.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label> B – Apenas o item II é verdadeiro.</ion-label>
  
  </ion-item>
  
  <ion-item >
  
  <ion-radio value=”C” ></ion-radio>
  
  <ion-label> C – Apenas o item III é verdadeiro.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”D”> </ion-radio>
  
  <ion-label> D – Apenas os itens I e III são verdadeiros.</ion-label>
  
  </ion-item>
  
  </ion-list>

  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/csharp2">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>

  
