<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 3
  
  </ion-card-header>
  
  <ion-card-content>
    Na linguagem C++, é possível substituir as funções scanf("%d", &x) e printf("%d", y) da linguagem C, respectivamente, por
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label> A – std::cout >> x e std::cin << y </ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label> B – std::cin >> x e std::cout << y</ion-label>
  
  </ion-item>
  
  <ion-item >
  
  <ion-radio value=”C” ></ion-radio>
  
  <ion-label> C – std::cin << x e std::cout >> y</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”D”> </ion-radio>
  
  <ion-label> D – std::cout << x e std::cin >> y</ion-label>
  
  </ion-item>
  
  </ion-list>

  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/cplus4">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>

  
