<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 1
  
  </ion-card-header>
  
  <ion-card-content>
    Leia as afirmativas a seguir:
    I. SQL Server é um exemplo de sistema de gerenciamento de banco de dados (SGBD).
    II. O PHP pode ser utilizado exclusivamente para o desenvolvimento de aplicações desktop.
    Marque a alternativa CORRETA:
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label> A – As duas afirmativas<br> são verdadeiras.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label> B – A afirmativa I é verdadeira,<br> e a II é falsa.</ion-label>
  
  </ion-item>
  
  <ion-item >
  
  <ion-radio value=”C” ></ion-radio>
  
  <ion-label> C – A afirmativa II é verdadeira,<br> e a I é falsa.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”D”> </ion-radio>
  
  <ion-label> D – As duas afirmativas<br> são falsas.</ion-label>
  
  </ion-item>
  
  </ion-list>

  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/question3">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>

  