<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input placeholder="nome@email.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input placeholder="******"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Manter logado</ion-label>
    <ion-checkbox slot="start" color="dark"></ion-checkbox>
  </ion-item>
  
  <ion-item>
    <ion-button slot="start" color="dark">
      Entrar
    </ion-button>
    <ion-button slot="end" color="dark">
      Cadastrar
    </ion-button>
  </ion-item>

</ion-content>
