<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input placeholder="nome@creativar.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input placeholder="******"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Manter logado</ion-label>
    <ion-checkbox slot="start" color="tertiary"></ion-checkbox>
  </ion-item>
  
  <ion-item>
    <ion-button slot="start" color="tertiary">
      Entrar
    </ion-button>
    <ion-button slot="end" color="tertiary">
      Cadastrar
    </ion-button>
  </ion-item>

</ion-content>
