<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 2
  
  </ion-card-header>
  
  <ion-card-content>
    PHP 7 é uma linguagem de script projetada para o desenvolvimento de aplicações web. A sigla PHP significa
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label>A – Program for HTML Pages.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label>B – PHP: Hypertext Preprocessor.</ion-label>
  
  </ion-item>
  
  <ion-item >
  
  <ion-radio value=”C” ></ion-radio>
  
  <ion-label>C – PHP Home Preprocessor.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”D”> </ion-radio>
  
  <ion-label>D – Personal Home Programming.</ion-label>
  
  </ion-item>
  
  </ion-list>
  
  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/question4">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>