<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 1
  
  </ion-card-header>
  
  <ion-card-content>
    A Orientação a Objetos (OO) é um paradigma de programação para o qual "tudo é um objeto", sendo Java uma das principais linguagens que implementam esse paradigma. Em relação à linguagem Java e à OO, analise as seguintes afirmativas:
    I. Uma classe Java pode implementar mais de uma interface Java.<br>
    II. Uma classe Java abstrata obrigatoriamente deve possuir um ou mais métodos abstratos.<br>
    III. Uma classe Java declarada como final não pode ser herdada (não pode ter subclasses Java).<br>
    Assinale
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label> A – se todas as alternativas estiverem corretas.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label> B – se somente as alternativas I e III estiverem corretas.</ion-label>
  
  </ion-item>
  
  <ion-item >
  
  <ion-radio value=”C” ></ion-radio>
  
  <ion-label> C – se somente as alternativas I e II estiverem corretas.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”D”> </ion-radio>
  
  <ion-label> D – se somente as alternativas II e III estiverem corretas.</ion-label>
  
  </ion-item>
  
  </ion-list>

  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/java2">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>

  
