<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 2
  
  </ion-card-header>
  
  <ion-card-content>
    No que se refere ao mecanismo de passagem de parâmetros em C#, analise os itens a seguir e, ao final, assinale a alternativa correta:
    I - O modificador “override” atribuído a um argumento de método implica o ocultamento do tipo definido na classe-pai.
    II - As palavras-chaves “ref” e “out” indicam, respectivamente, passagem de parâmetro por referência e por valor.
    III – Quando se passa um argumento para um método, o parâmetro correspondente é inicializado com uma cópia do argumento, inclusive para um tipo-referência.
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label> A – Apenas o item I é verdadeiro.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label> B – Apenas o item II é verdadeiro.</ion-label>
  
  </ion-item>
  
  <ion-item >
  
  <ion-radio value=”C” ></ion-radio>
  
  <ion-label> C – Apenas o item III é verdadeiro.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”D”> </ion-radio>
  
  <ion-label> D – Apenas os itens I e II são verdadeiros.</ion-label>
  
  </ion-item>
  
  </ion-list>

  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/csharp3">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>

  
