<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
      <ion-title>
        <img src="assets/img/creativar3.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>
    
    <ion-content >
    
    <ion-card>
    
    <ion-card-header>
    
    Questão 3
    
    </ion-card-header>
    
    <ion-card-content>
      <img src="assets/img/java.png">
    </ion-card-content>
    
    </ion-card>
    
    <ion-list radio-group no-lines padding>
    
      <ion-item >
  
        <ion-radio value=”A” ></ion-radio>
        
        <ion-label> A – 120</ion-label>
        
        </ion-item>
        
        <ion-item>
        
        <ion-radio value=”B”> </ion-radio>
        
        <ion-label> B – 240</ion-label>
        
        </ion-item>
        
        <ion-item >
        
        <ion-radio value=”C” ></ion-radio>
        
        <ion-label> C – 360</ion-label>
        
        </ion-item>
        
        <ion-item>
        
        <ion-radio value=”D”> </ion-radio>
        
        <ion-label> D – 720</ion-label>
        
        </ion-item>
    
    </ion-list>
  
    <ion-item>
      <ion-button slot="start" color="tertiary" routerLink="/java4">
        Próximo
      </ion-button>
      <ion-button slot="start"  color="tertiary" routerLink="/game">
        Sair
      </ion-button>
    </ion-item>
    
    </ion-content>
  
    
  