<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  
  <form>
    <ion-button expand="full"  color="tertiary" routerLink="/game">
      Jogar
    </ion-button>
  </form>
  <form>
    <ion-button expand="full"  color="tertiary" routerLink="/login">
      Login
    </ion-button>
  </form>
  <form>
    <ion-button expand="full"  color="tertiary" routerLink="/cadastro">
      Cadastrar
    </ion-button>
  </form>
  

</ion-content>
