<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  
  <form>
    <ion-button expand="full"  color="tertiary" routerLink="/css1">
      Iniciar Quizz 
    </ion-button>
  </form>
  <form>
    <ion-button expand="full"  color="tertiary" routerLink="/game">
      Voltar a selecao de linguagens
    </ion-button>
  </form>
 
  

</ion-content>
