<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>questão 4</ion-card-subtitle>
      <ion-card-title>C++</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Uma classe Java pode implementar mais de uma interface Java e uma classe Java declarada como final não pode ser herdada (não pode ter subclasses Java).<br>
      <ion-button fill="outline" slot="start" routerLink="/cardcplus4">VIRAR</ion-button>
    </ion-card-content>
    
  </ion-card>
  <ion-item>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>