<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      <img src="assets/img/creativar3.png">
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-header>
  
  Questão 2
  
  </ion-card-header>
  
  <ion-card-content>
    No HTML 5, as tags de link e script usadas para referenciar arquivos de CSS e JavaScript não precisam informar o atributo type, porque, na sua ausência, o navegador assume que o arquivo é do tipo text/css ou text/javascript.
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item >
  
  <ion-radio value=”A” ></ion-radio>
  
  <ion-label> A – Certo.</ion-label>
  
  </ion-item>
  
  <ion-item>
  
  <ion-radio value=”B”> </ion-radio>
  
  <ion-label> B – Errado.</ion-label>
  
  </ion-item>
  
  </ion-list>

  <ion-item>
    <ion-button slot="start" color="tertiary" routerLink="/html3">
      Próximo
    </ion-button>
    <ion-button slot="start"  color="tertiary" routerLink="/game">
      Sair
    </ion-button>
  </ion-item>
  
  </ion-content>

  
